@{
    ViewData["Title"] = "Politicas de Privacidad";
}
<h1 class="text-light display-4">@ViewData["Title"]</h1>

<p class ="text-light">En <a href="https://www.allaccess.com.ar/static/privacy">este sitio</a> podes leer nuestras politicas de privacidad.</p>
